---
import Layout from '../layouts/Layout.astro';
import Lottie from "../components/Lottie.astro";

const technologies = [
    {
        section: 'Languages',
        items: [
            {
                name: 'Javascript',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg'
            },
            {
                name: 'Typescript',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg'
            },
            {
                name: 'PHP',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-plain.svg'
            },
            {
                name: 'Python',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain.svg'
            },
            {
                name: 'Java',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-plain.svg'
            },
            {
                name: 'C++',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-plain.svg'
            }
        ]
    },
    {
        section: 'Frontend',
        items: [
            {
                name: 'React',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg'
            },
            {
                name: 'VueJS',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg'
            },
            {
                name: 'NuxtJS',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nuxtjs/nuxtjs-original.svg'
            },
            {
                name: 'NextJS',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original-wordmark.svg'
            },
            {
                name: 'HTML',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg'
            },
            {
                name: 'CSS',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg'
            },
            {
                name: 'TailwindCSS',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg'
            }
        ]
    },
    {
        section: 'Backend',
        items: [
            {
                name: 'NodeJS',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg'
            },
            {
                name: 'NestJS',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg'
            },
            {
                name: 'Laravel',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/laravel/laravel-plain-wordmark.svg'
            }
        ]
    },
    {
        section: 'Database',
        items: [
            {
                name: 'MongoDB',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg'
            },
            {
                name: 'Postgresql',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg'
            },
            {
                name: 'MySQL',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg'
            },
            {
                name: 'SQLite',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original-wordmark.svg'
            }
        ]
    },
    {
        section: 'Other',
        items: [
            {
                name: 'Firebase',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain-wordmark.svg'
            },
            {
                name: 'GraphQL',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/graphql/graphql-plain-wordmark.svg'
            },
            {
                name: 'Jamstack',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jamstack/jamstack-original-wordmark.svg'
            },
            {
                name: 'Git',
                icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg'
            }
        ]
    },
]

const pageTitle = "Giuseppe Cutuli";
---
<Layout pageTitle={pageTitle}>
    <Lottie src="/lottie/home.json" width="300" height="211" />
    <h1>Giuseppe Cutuli</h1>
    <small>Master Coder (Full stack developer)</small>
    <h2>About</h2>
    <p>
        Praesent malesuada mi nisi, quis tempus magna venenatis ut.
        Suspendisse tempor sem at scelerisque congue. Curabitur mollis,
        mi id molestie finibus, metus sem sagittis nunc, euismod feugiat orci neque non lorem.
        Aenean sollicitudin erat eu molestie tempus. Nunc ac eros elementum, fermentum lacus at,
        pellentesque mauris. Suspendisse eros neque, interdum euismod consectetur convallis,
        porttitor at massa. Phasellus a ultrices arcu. Donec viverra, lorem in pellentesque euismod,
        libero justo gravida nibh, non ultricies justo purus ultrices est.
    </p>
    <p>
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
        Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
        facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
        Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
    </p>
    <h2>Skills</h2>
    <div class="technologies">
        {technologies.map(tech => (
            <div>
                <h3>{tech.section}</h3>
                <ul>
                    {tech.items.map(item => (
                        <li>
                            <img src={item.icon} alt={item.name} title={item.name} width="60" height="60" />
                        </li>
                    ))}
                </ul>
            </div>
        ))}
    </div>
    <h2>Interests</h2>
    <p>
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
        Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
        facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
        Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
    </p>
</Layout>
<style>
    /* small */
    small {
        background-color: var(--primary);
        color: var(--secondary);
        border-radius: 6px;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    .technologies div ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;
        padding: 0;
    }

    @media only screen and (max-width: 600px) {
        .technologies img {
            height: 50px;
            width: 50px;
        }
    }
</style>
